<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/user/images/favicon.ico}">
    <link rel="apple-touch-icon" th:href="apple-touch-icon.png">
    

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" th:href="@{/user/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/owl.theme.default.min.css}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/user/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/user/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/user/css/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/user/css/responsive.css}">
    <!-- User style -->
    <link rel="stylesheet" th:href="@{/user/css/custom.css}">


    <!-- Modernizr JS -->
    <script th:src="@{/user/js/vendor/modernizr-3.5.0.min.js}"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
  			<header th:replace="common/user/header :: header"></header>
        <!-- End Header Area -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
             <div th:replace="common/user/search :: search"></div>
            <!-- End Search Popap -->
            <!-- Start Cart Panel -->
            <div th:replace="common/user/shopping :: shopping"></div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/4.jpg) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner">
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" th:href="@{/}">Home</a>
                                  <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                  <span class="breadcrumb-item active" th:if="${categoriesDTO != null}" th:text="${categoriesDTO.categories}"></span>
                                  <span class="breadcrumb-item active" th:if="${subcategoriesDTO != null}" th:text="${subcategoriesDTO.sub_categories}"></span>
                                  <span class="breadcrumb-item active" th:if="${productDTOs != null}" th:text="Search"></span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Product Grid -->
        <section class="htc__product__grid bg__white ptb--100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-12 col-xs-12">
                        <div class="htc__product__rightidebar">
                            <div class="htc__grid__top">
                                <div class="htc__select__option">
                                    <select class="ht__select">
                                        <option>Default softing</option>
                                        <option>Sort by popularity</option>
                                        <option>Sort by average rating</option>
                                        <option>Sort by newness</option>
                                    </select>
                                </div>
                                
                                <!-- Start List And Grid View -->
                                <ul class="view__mode" role="tablist">
                                    <li role="presentation" class="grid-view active"><a href="#grid-view" role="tab" data-toggle="tab"><i class="zmdi zmdi-grid"></i></a></li>
                                    <li role="presentation" class="list-view"><a href="#list-view" role="tab" data-toggle="tab"><i class="zmdi zmdi-view-list"></i></a></li>
                                </ul>
                                <!-- End List And Grid View -->
                            </div>
                            <!-- Start Product View -->
                            <div class="row">
                                <div class="shop__grid__view__wrap">
                                    <div role="tabpanel" id="grid-view" class="single-grid-view tab-pane fade in active clearfix" th:if="${categoriesDTO !=null}">
                                        <!-- Start Single Product -->
                                  		<div class="col-md-4 col-lg-3 col-sm-4 col-xs-12"  th:each="pro :${categoriesDTO.productDTOs}" th:if="${pro.status==1}">
                                              <!-- <h1>Product</h1>
                                              <h1 th:text="${pro.name}"></h1> -->
                                <div class="category">
                                    <div class="ht__cat__thumb">
                                        <a th:href="@{'/product-detail/'+${pro.id}}">
                                            <img th:src="@{'/images/flags/'+${pro.image}}" alt="product images">
                                        </a>
                                    </div>
                                    <div class="fr__hover__info">
                                        <ul class="product__action">
                                            <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                            <li><a th:onclick="'addCart(\'' + ${pro.id} + '\')'"><i class="icon-handbag icons"></i></a></li>

                                            <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="fr__product__inner">
                                        <h4><a th:href="@{'/product-detail/'+${pro.id}}" th:text="${pro.name}"></a></h4>
                                        <ul class="fr__pro__prize">
                                            <li class="old__prize"th:text="${pro.mrp}"></li>
                                            <li th:text="${pro.price}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                                        <!-- End Single Product -->
                                    </div>
                                             <div role="tabpanel" id="grid-view" class="single-grid-view tab-pane fade in active clearfix" th:if="${productDTOs !=null}">
                                        <!-- Start Single Product -->
                                  		<div class="col-md-4 col-lg-3 col-sm-4 col-xs-12"  th:each="pro : ${productDTOs}" th:if="${pro.status==1}">
                                <div class="category" th:if="${pro.id_categories==1}">
                                    <div class="ht__cat__thumb">
                                        <a th:href="@{'/product-detail/'+${pro.id}}">
                                            <img th:src="@{'/images/flags/'+${pro.image}}" alt="product images">
                                        </a>
                                    </div>
                                    <div class="fr__hover__info">
                                        <ul class="product__action">
                                            <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                            <li><a th:onclick="'addCart(\'' + ${pro.id} + '\')'"><i class="icon-handbag icons"></i></a></li>

                                            <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="fr__product__inner">
                                        <h4><a th:href="@{'/product-detail/'+${pro.id}}" th:text="${pro.name}"></a></h4>
                                        <ul class="fr__pro__prize">
                                            <li class="old__prize"th:text="${pro.mrp}"></li>
                                            <li th:text="${pro.price}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                                        <!-- End Single Product -->
                                    </div>
                                               <div role="tabpanel" id="grid-view" class="single-grid-view tab-pane fade in active clearfix" th:if="${subcategoriesDTO !=null}">
                                        <!-- Start Single Product -->
                                  		<div class="col-md-4 col-lg-3 col-sm-4 col-xs-12"  th:each="pro :${subcategoriesDTO.productDTOs}" th:if="${pro.status==1}">
                                <div class="category" >
                                    <div class="ht__cat__thumb">
                                        <a th:href="@{'/product-detail/'+${pro.id}}">
                                            <img th:src="@{'/images/flags/'+${pro.image}}" alt="product images">
                                        </a>
                                    </div>
                                    <div class="fr__hover__info">
                                        <ul class="product__action">
                                            <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                            <li><a th:onclick="'addCart(\'' + ${pro.id} + '\')'"><i class="icon-handbag icons"></i></a></li>

                                            <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="fr__product__inner">
                                        <h4><a th:href="@{'/product-detail/'+${pro.id}}" th:text="${pro.name}"></a></h4>
                                        <ul class="fr__pro__prize">
                                            <li class="old__prize"th:text="${pro.mrp}"></li>
                                            <li th:text="${pro.price}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                                        <!-- End Single Product -->
                                    </div>
                                    <div role="tabpanel" id="list-view" class="single-grid-view tab-pane fade clearfix">
                                        <div class="col-xs-12" th:if="${categoriesDTO !=null}")>
                                            <div class="ht__list__wrap">
                                                <!-- Start List Product -->
                                                <div class="ht__list__product" th:each="pro :${categoriesDTO.productDTOs}" >
                                                    <div class="ht__list__thumb">
                                                        <a th:href="@{'/product-detail/'+${pro.id}}"><img style="width: 290px; height: 384px;" th:src="@{'/images/flags/'+${pro.image}}" alt="product images"></a>
                                                    </div>
                                                    <div class="htc__list__details">
                                                        <h2><a th:href="@{'/product-detail/'+${pro.id}}" th:text="${pro.name}"></a></h2>
                                                        <ul  class="pro__prize">
                                                            <li class="old__prize"th:text="${pro.mrp}"></li>
                                                            <li th:text="${pro.price}"></li>
                                                        </ul>
                                                        <ul class="rating">
                                                            <li><i class="icon-star icons"></i></li>
                                                            <li><i class="icon-star icons"></i></li>
                                                            <li><i class="icon-star icons"></i></li>
                                                            <li class="old"><i class="icon-star icons"></i></li>
                                                            <li class="old"><i class="icon-star icons"></i></li>
                                                        </ul>
                                                        <p th:text="${pro.short_desc}"></p>
                                                        <div class="fr__list__btn">
                                                            <a class="fr__btn" th:onclick="'addCart(\'' + ${pro.id} + '\')'">Add To Cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End List Product -->
                                            </div>
                                        </div>
                                        <div class="col-xs-12" th:if="${subcategoriesDTO !=null}")>
                                            <div class="ht__list__wrap">
                                                <!-- Start List Product -->
                                                <div class="ht__list__product" th:each="pro :${subcategoriesDTO.productDTOs}" >
                                                    <div class="ht__list__thumb">
                                                        <a th:href="@{'/product-detail/'+${pro.id}}"><img th:src="@{'/images/flags/'+${pro.image}}" alt="product images"></a>
                                                    </div>
                                                    <div class="htc__list__details">
                                                        <h2><a th:href="@{'/product-detail/'+${pro.id}}" th:text="${pro.name}"></a></h2>
                                                        <ul  class="pro__prize">
                                                            <li class="old__prize"th:text="${pro.mrp}"></li>
                                                            <li th:text="${pro.price}"></li>
                                                        </ul>
                                                        <ul class="rating">
                                                            <li><i class="icon-star icons"></i></li>
                                                            <li><i class="icon-star icons"></i></li>
                                                            <li><i class="icon-star icons"></i></li>
                                                            <li class="old"><i class="icon-star icons"></i></li>
                                                            <li class="old"><i class="icon-star icons"></i></li>
                                                        </ul>
                                                        <p th:text="${pro.short_desc}"></p>
                                                        <div class="fr__list__btn">
                                                            <a class="fr__btn" th:onclick="'addCart(\'' + ${pro.id} + '\')'">Add To Cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End List Product -->
                                            </div>
                                        </div>
                                        <div class="col-xs-12" th:if="${productDTOs !=null}")>
                                            <div class="ht__list__wrap">
                                                <!-- Start List Product -->
                                                <div class="ht__list__product" th:each="pro :${productDTOs}" >
                                                    <div class="ht__list__thumb" >
                                                        <a th:href="@{'/product-detail/'+${pro.id}}"><img th:src="@{'/images/flags/'+${pro.image}}" alt="product images"></a>
                                                    </div>
                                                    <div class="htc__list__details">
                                                        <h2><a th:href="@{'/product-detail/'+${pro.id}}" th:text="${pro.name}"></a></h2>
                                                        <ul  class="pro__prize">
                                                            <li class="old__prize"th:text="${pro.mrp}"></li>
                                                            <li th:text="${pro.price}"></li>
                                                        </ul>
                                                        <ul class="rating">
                                                            <li><i class="icon-star icons"></i></li>
                                                            <li><i class="icon-star icons"></i></li>
                                                            <li><i class="icon-star icons"></i></li>
                                                            <li class="old"><i class="icon-star icons"></i></li>
                                                            <li class="old"><i class="icon-star icons"></i></li>
                                                        </ul>
                                                        <p th:text="${pro.short_desc}"></p>
                                                        <div class="fr__list__btn">
                                                            <a class="fr__btn" th:onclick="'addCart(\'' + ${pro.id} + '\')'">Add To Cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End List Product -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product View -->
                        </div>
                        
                    </div>
                    <div class="col-lg-3 col-lg-pull-9 col-md-3 col-md-pull-9 col-sm-12 col-xs-12 smt-40 xmt-40">
                        <div class="htc__product__leftsidebar">
                                    <!-- Start Single Product -->
                                    <div class="htc__best__product" th:each="pro : ${productDTO}" th:if="${pro.best_seller==1}">
                                        <div class="htc__best__pro__thumb" style="margin-right: 0">
                                            <a th:href="@{'/product-detail/'+${pro.id}}">
                                                <img th:src="@{'/images/flags/'+${pro.image}}" alt="small product">
                                            </a>
                                        </div>
                                        <div class="htc__best__product__details">
                                            <h2><a th:href="@{'/product-detail/'+${pro.id}}" th:text="${pro.name}"></a></h2>
                                            <ul class="rating">
                                                <li><i class="icon-star icons"></i></li>
                                                <li><i class="icon-star icons"></i></li>
                                                <li><i class="icon-star icons"></i></li>
                                                <li class="old"><i class="icon-star icons"></i></li>
                                                <li class="old"><i class="icon-star icons"></i></li>
                                            </ul>
                                            <ul  class="pro__prize">
                                                <li class="old__prize" th:text="${pro.mrp}"></li>
                                                <li th:text="${pro.price}"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Single Product -->
                                </div>
                            </div>
                            <!-- End Best Sell Area -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<footer th:replace="common/user/footer :: footer"></footer>
        <!-- End Footer Style -->
    </div>
    <!-- Body main wrapper end -->

    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script th:src="@{/user/js/vendor/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap framework js -->
    <script th:src="@{/user/js/bootstrap.min.js}"></script>
    <!-- All js plugins included in this file. -->
    <script th:src="@{/user/js/plugins.js}"></script>
    <script th:src="@{/user/js/slick.min.js}"></script>
    <script th:src="@{/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/user/js/ajax-mail.js}"></script>

    
    <!-- Waypoints.min.js. -->
    <script th:src="@{/user/js/waypoints.min.js}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script th:src="@{/user/js/main.js}"></script>
</body>

</html>