<!doctype html>
<html class="no-js" lang="">
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Danh Mục Phụ</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" th:href="@{/assets/css/normalize.css}">
      <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
      <link rel="stylesheet" th:href="@{assets/css/themify-icons.css}">
      <link rel="stylesheet" th:href="@{/assets/css/pe-icon-7-filled.css}">
      <link rel="stylesheet" th:href="@{/assets/css/flag-icon.min.css}">
      <link rel="stylesheet" th:href="@{/assets/css/cs-skin-elastic.css}">
      <link rel="stylesheet" th:href="@{/assets/css/style.css}">
      <link th:href='@{https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800}' rel='stylesheet' type='text/css'>
   </head>
   <body>
      <div th:replace="common/admin/menu :: menu"></div>
      <div id="right-panel" class="right-panel">
         <header th:replace="common/admin/header :: header"></header>
         <div class="content pb-0">
            <div class="orders">
               <div class="row">
                  <div class="col-xl-12">
                     <div class="card">
                        <div class="card-body">
                           <h4 class="box-title">Danh Mục Phụ</h4>
                           <br>
                           <a class="box-title" style="cursor: pointer;" th:href="@{/admin/add-subcategories}">Thêm Danh Mục Phụ</a>
                        </div>
                        <div class="card-body--">
                           <div class="table-stats order-table ov-h">
                              <table class="table ">
                                 <thead>
                                    <tr>
                                       <th>ID</th>
                                       <th>Danh Mục Phụ</th>
                                       <th>Loại Sản Phẩm</th>
                                       <th>Trạng Thái</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                   <tr th:each="list : ${listsubCategoriesDTOs}">
                                       <td th:text="${list.id}"></td>
                                       <td> <span class="name" th:text="${list.sub_categories}"></span> </td>
                                       <td><span th:text="${list.categoriesDTO.categories}"></span></td>
                                       <td>
                                       <span class="badge badge-complete" th:if="${list.status ==1}"><a style="color: white;" th:text="Active"  th:href="@{'/admin/checksub/'+${list.id}}"></a></span>
                                       <span class="badge badge-pending" th:if="${list.status ==0}"><a style="color: white;" th:text="Deactive" th:href="@{'/admin/checksub/'+${list.id}}"></a></span>
                                       <span class="badge badge-edit"><a style="color: white;" th:text="Sửa" th:href="@{'/admin/update-subcategories/'+${list.id}}"></a></span>
                                       <span class="badge badge-delete"><a style="color: white;" th:text="Xóa" th:href="@{'/admin/delete-subcategories/'+${list.id}}"></span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
		  </div>
         <div class="clearfix"></div>
         <footer class="site-footer">
            <div class="footer-inner bg-white">
               <div class="row">
                  <div class="col-sm-6">
                     Nguyễn Xuân Tuân - Phạm Tuấn Tú - Đoàn Ngọc Duy
                  </div>
               </div>
            </div>
         </footer>
      </div>
      <script th:src="@{/assets/js/vendor/jquery-2.1.4.min.js}" type="text/javascript"></script>
      <script th:src="@{/assets/js/popper.min.js}" type="text/javascript"></script>
      <script th:src="@{/assets/js/plugins.js}" type="text/javascript"></script>
      <script th:src="@{/assets/js/main.js}" type="text/javascript"></script>
   </body>
</html>