<header
  id="htc__header"
  class="htc__header__area header--one"
  th:fragment="header"
>
  <!-- Start Mainmenu Area -->
  <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
    <div class="container">
      <div class="row">
        <div class="menumenu__container clearfix">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
            <div class="logo">
              <a th:href="@{/index}"
                ><img th:src="@{/user/images/logo/logo.png}" alt="logo images"
              /></a>
            </div>
          </div>
          <div class="col-md-7 col-lg-8 col-sm-5 col-xs-3">
            <nav class="main__menu__nav hidden-xs hidden-sm">
              <ul class="main__menu">
                <li class="drop"><a th:href="@{/index}">Home</a></li>

                <li
                  class="drop"
                  th:each="cate:${categoriesDTOs}"
                  th:if="${cate.status==1}"
                >
                  <a
                    th:href="@{'/product-grid-categories/'+${cate.id}}"
                    th:text="${cate.categories}"
                  ></a>
                  <ul class="dropdown">
                    <li th:each="sub :${cate.subCategoriesDTOs}">
                      <a
                        th:text="${sub.sub_categories}"
                        th:href="@{'/product-grid-subcategories/' +${sub.id}}"
                      ></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>

            <div class="mobile-menu clearfix visible-xs visible-sm">
              <nav id="mobile_dropdown">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="blog.html">blog</a></li>
                  <li>
                    <a href="#">pages</a>
                    <ul>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-details.html">Blog Details</a></li>
                      <li><a href="cart.html">Cart page</a></li>
                      <li><a href="checkout.html">checkout</a></li>
                      <li><a href="contact.html">contact</a></li>
                      <li><a href="product-grid.html">product grid</a></li>
                      <li>
                        <a href="product-details.html">product details</a>
                      </li>
                      <li><a href="wishlist.html">wishlist</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
            <div class="header__right">
              <div class="header__search search search__open">
                <a href="#"><i class="icon-magnifier icons"></i></a>
              </div>
              <div class="header__account">
                <!--  <a th:if="${session.user == null}" th:href="@{/login}"><i class="icon-user icons"></i></a> 
                                         <a th:if="${session.user != null}" th:href="logout.php" th:text="${session.user.getUsername()}"></a> <a href="my_order.php">My Order</a>  -->
                <div
                  class="user-area dropdown float-right"
                  th:if="${session.user != null}"
                >
                  <a
                    class="dropdown-toggle active"
                    data-toggle="dropdown"
                    style="cursor: pointer"
                    aria-haspopup="true"
                    aria-expanded="false"
                    th:text="${session.user.getUsername()}"
                  ></a>
                  <div class="user-menu dropdown-menu">
                    <a th:href="@{/user/order-detail}">Đơn Hàng</a>
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                  </div>
                </div>
                <div
                  class="user-area dropdown float-right"
                  th:if="${session.user == null}"
                >
                  <a th:href="@{/login}"><i class="icon-user icons"></i></a>
                </div>
              </div>
              <div class="htc__shopping__cart">
                <a class="cart__menu" href="#"
                  ><i class="icon-handbag icons"></i
                ></a>
                <a href="#"
                  ><span
                    class="htc__qua"
                    th:if="${session.cart != null}"
                    th:utext="${#session.getAttribute('cart').size()}"
                  ></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-menu-area"></div>
    </div>
  </div>
  <!-- End Mainmenu Area -->
</header>
